In [1]:
# Add the src directory to the Python path
import sys
sys.path.append('../src')
# Import necessary modules
from table_formatter import format_table
from eda import EDAHandler

In [2]:
# Initialize the EDAHandler class with the file path
eda = EDAHandler('../data/Insurance_data.csv')

c:\Users\bksam\AlphaCare-Insurance-Analysis\notebooks\../src\eda.py:5: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  self.data = pd.read_csv(file_path)

In [7]:

# Calculate the descriptive statistics
numerical_stats, categorical_stats = eda.descriptive_statistics()

# Format the numerical and categorical statistics for better display
print(numerical_stats )
print(categorical_stats)

       UnderwrittenCoverID      PolicyID    PostalCode        mmcode  \
count         1.000098e+06  1.000098e+06  1.000098e+06  1.000098e+06
mean          1.048175e+05  7.956682e+03  3.020601e+03  5.488056e+07
std           6.329371e+04  5.290039e+03  2.649854e+03  1.360059e+07
min           1.000000e+00  1.400000e+01  1.000000e+00  4.041200e+06
25%           5.514300e+04  4.500000e+03  8.270000e+02  6.005692e+07
50%           9.408300e+04  7.071000e+03  2.000000e+03  6.005842e+07
75%           1.391900e+05  1.107700e+04  4.180000e+03  6.005842e+07
max           3.011750e+05  2.324600e+04  9.870000e+03  6.506535e+07

       RegistrationYear     Cylinders  cubiccapacity     kilowatts  \
count      1.000098e+06  1.000098e+06   1.000098e+06  1.000098e+06
mean       2.010225e+03  4.046616e+00   2.466869e+03  9.721553e+01
std        3.261391e+00  2.939410e-01   4.427106e+02  1.939061e+01
min        1.987000e+03  0.000000e+00   0.000000e+00  0.000000e+00
25%        2.008000e+03  4.000000e+00   2.237000e+03  7.500000e+01
50%        2.011000e+03  4.000000e+00   2.694000e+03  1.110000e+02
75%        2.013000e+03  4.000000e+00   2.694000e+03  1.110000e+02
max        2.015000e+03  1.000000e+01   1.288000e+04  3.090000e+02

       NumberOfDoors  CustomValueEstimate    SumInsured  \
count   1.000098e+06         1.000098e+06  1.000098e+06
mean    4.019239e+00         2.212193e+05  6.041727e+05
std     4.681854e-01         2.650521e+05  1.508332e+06
min     0.000000e+00         2.000000e+04  1.000000e-02
25%     4.000000e+00         2.200000e+05  5.000000e+03
50%     4.000000e+00         2.200000e+05  7.500000e+03
75%     4.000000e+00         2.200000e+05  2.500000e+05
max     6.000000e+00         2.655000e+07  1.263620e+07

       CalculatedPremiumPerTerm  TotalPremium   TotalClaims
count              1.000098e+06  1.000098e+06  1.000098e+06
mean               1.178757e+02  6.190550e+01  6.486119e+01
std                3.997017e+02  2.302845e+02  2.384075e+03
min                0.000000e+00 -7.825768e+02 -1.200241e+04
25%                3.224800e+00  0.000000e+00  0.000000e+00
50%                8.436900e+00  2.178333e+00  0.000000e+00
75%                9.000000e+01  2.192982e+01  0.000000e+00
max                7.442217e+04  6.528260e+04  3.930921e+05
       Citizenship   LegalType    Title Language                 Bank  \
count      1000098     1000098  1000098  1000098              1000098
unique           4           6        5        1                   11
top                 Individual       Mr  English  First National Bank
freq        895210      911929   933555  1000098               406772

            AccountType  MaritalStatus         Gender       Country Province  \
count           1000098        1000098        1000098       1000098  1000098
unique                3              3              3             1        9
top     Current account  Not specified  Not specified  South Africa  Gauteng
freq             638170         994467         950526       1000098   393865

        ... Converted TermFrequency ExcessSelected        CoverCategory  \
count   ...   1000098       1000098        1000098              1000098
unique  ...         2             2             13                   28
top     ...        No       Monthly      No excess  Passenger Liability
freq    ...   1000011        999554         791235               104158

         CoverType            CoverGroup              Section  \
count      1000098               1000098              1000098
unique          22                    14                    5
top     Own Damage  Comprehensive - Taxi  Motor Comprehensive
freq        104183                824124               828125

                                   Product StatutoryClass StatutoryRiskType
count                              1000098        1000098           1000098
unique                                   4              1                 1
top     Mobility Commercial Cover: Monthly     Commercial     IFRS Constant
freq                                915028        1000098           1000098

[4 rows x 34 columns]

Descriptive Statistics
The descriptive statistics summary provides an overview of the numerical and categorical attributes in the dataset:

Numerical Variables:

TotalPremium: This column shows a wide range, with a mean of 61.90 and a maximum value of 65,282.60, indicating significant variability in premium values.
TotalClaims: The standard deviation is high, indicating a large range of claim amounts. The maximum value of 393,092.10 suggests the presence of extreme claim values, which may need further investigation for outliers.
Cylinders and Kilowatts: These columns show a high degree of consistency, particularly for Cylinders, where most entries are 4. This suggests that most vehicles have 4 cylinders.
Categorical Variables:

TransactionMonth: The dataset mostly contains records from 2015, with the most frequent date being 2015-08-01.
Gender and MaritalStatus: Both have many "Not specified" entries, possibly indicating missing or unrecorded data.
Country: All records are from South Africa, which suggests the dataset may be geographically limited.

In [7]:
eda.data_structure()

UnderwrittenCoverID           int64
PolicyID                      int64
TransactionMonth             object
IsVATRegistered                bool
Citizenship                  object
LegalType                    object
Title                        object
Language                     object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
PostalCode                    int64
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
mmcode                      float64
VehicleType                  object
RegistrationYear              int64
make                         object
Model                        object
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
bodytype                     object
NumberOfDoors               float64
VehicleIntroDate             object
CustomValueEstimate         float64
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
WrittenOff                   object
Rebuilt                      object
Converted                    object
CrossBorder                  object
NumberOfVehiclesInFleet     float64
SumInsured                  float64
TermFrequency                object
CalculatedPremiumPerTerm    float64
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
TotalPremium                float64
TotalClaims                 float64
dtype: object

Data Structure (Data Types)
The data types of the columns are mostly consistent with their intended use:

Potential Issue: The TransactionMonth column is stored as an object type but should likely be converted to a datetime type to enable easier manipulation for time-based analysis.

In [3]:
missing_data = eda.missing_values()
print("Missing Values:\n", missing_data)

Missing Values:
 Bank                        145961
AccountType                  40232
MaritalStatus                 8259
Gender                        9536
mmcode                         552
VehicleType                    552
make                           552
Model                          552
Cylinders                      552
cubiccapacity                  552
kilowatts                      552
bodytype                       552
NumberOfDoors                  552
VehicleIntroDate               552
CustomValueEstimate         779642
CapitalOutstanding               2
NewVehicle                  153295
WrittenOff                  641901
Rebuilt                     641901
Converted                   641901
CrossBorder                 999400
NumberOfVehiclesInFleet    1000098
dtype: int64

Missing Data
There are several columns with missing values:

CustomValueEstimate has nearly 78% missing data, which is significant.
WrittenOff, Rebuilt, and Converted have over 60% missing data, which may indicate that these columns are not applicable to all policies or are inconsistently recorded.
CrossBorder and NumberOfVehiclesInFleet have almost no valid data, with 100% missing for NumberOfVehiclesInFleet and a majority missing for CrossBorder, suggesting these columns may be dropped unless more context is provided for their use.
Other columns such as Gender, MaritalStatus, and AccountType have a lower but still significant percentage of missing data.

In [ ]:
# Clean the data
cleaned_data = eda.clean_data()

Missing Values After Cleaning:
 Series([], dtype: int64)

Handel missing values by:

Dropped NumberOfVehiclesInFleet which had almost no valid data, with 100% missing values.
Impute numerical columns with the median (more robust than mean)
Fill categorical columns with 'Unknown'

In [6]:
# Check the first few rows of the cleaned data
cleaned_data.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0