In [1]:
# Add the src directory to the Python path
import sys
sys.path.append('../src')
# Import necessary modules
from table_formatter import format_table
from eda import EDAHandler

In [6]:
# Initialize the EDAHandler class with the file path
eda = EDAHandler('../data/Insurance_data.csv')

# Calculate the descriptive statistics
numerical_stats, categorical_stats = eda.descriptive_statistics()

# Format the numerical and categorical statistics for better display
formatted_numerical_stats = format_table(numerical_stats)
formatted_categorical_stats = format_table(categorical_stats)

# Display the formatted tables (in Jupyter, this will render the styled tables)
formatted_numerical_stats
formatted_categorical_stats

c:\Users\bksam\AlphaCare-Insurance-Analysis\notebooks\../src\eda.py:5: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  self.data = pd.read_csv(file_path)

In [7]:
eda.data_structure()

UnderwrittenCoverID           int64
PolicyID                      int64
TransactionMonth             object
IsVATRegistered                bool
Citizenship                  object
LegalType                    object
Title                        object
Language                     object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
PostalCode                    int64
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
mmcode                      float64
VehicleType                  object
RegistrationYear              int64
make                         object
Model                        object
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
bodytype                     object
NumberOfDoors               float64
VehicleIntroDate             object
CustomValueEstimate         float64
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
WrittenOff                   object
Rebuilt                      object
Converted                    object
CrossBorder                  object
NumberOfVehiclesInFleet     float64
SumInsured                  float64
TermFrequency                object
CalculatedPremiumPerTerm    float64
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
TotalPremium                float64
TotalClaims                 float64
dtype: object